Package: com.noisyflake.shylabels
Name: Shy Labels
Depends: mobilesubstrate
Version: 1.1.1
Architecture: iphoneos-arm
Description: Hide app labels when not scrolling
Depiction: https://apt.noisyflake.com/depictions/index.html?id=com.noisyflake.shylabels
Maintainer: NoisyFlake
Author: NoisyFlake
Section: Tweaks
