Package: me.conorthedev.shylabels
Name: Shy Labels
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Hide app labels when not scrolling (updated for iOS 13)
Maintainer: ConorTheDev
Author: ConorTheDev, NoisyFlake
Section: Tweaks
Replaces: com.noisyflake.shylabels